@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

header {
  position: sticky;
  top: 0;
}

.imageone {
  width: 20px;
  height: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

nav li {
  float: left;
}

.leftli {
  float: right;
  margin-left: 40px;
  position: relative;
  top: 12px;
}

nav li a {
  text-decoration: none;
  color: blue;
  display: inline-block;
  text-align: center;
}

nav li a.logolink {
  position: relative;
  top: 0;
  left: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  padding: 20px 0;
  animation-name: logo;
  animation-duration: 4s;
}

@keyframes logo {
  0% { transform: rotate(0deg); }
  20% { transform: rotate(90deg); }
  40% { transform: rotate(180deg); }
  60% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

nav li a img {
  position: relative;
  top: 4px;
  right: 20px;
}

.link-desktop {
  float: right;
  padding: 0 10px;
  display: none;
  position: relative;
  top: 0;
  right: 100px;
}

.link-desktop a {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  padding: 25px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.headline {
  background-image: url('image.png');
  border-bottom-left-radius: 50px;
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: white;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .mobile-menu {
    display: none;
  }

  .popupbackground {
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: #396df277;
    backdrop-filter: blur(5px);
  }

  #demo-mobile {
    display: none !important;
  }

  #demo {
    width: 79%;
    height: 713px;
    position: absolute;
    top: 1%;
    z-index: 20;
    display: none;
    padding: 15px;
    background-color: #fff;
    margin-left: 100px;
    border: 1px solid #ebecf0;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: width 4s;
  }

  #demo:hover {
    width: 80%;
  }

  .paragrap {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    display: inline-block;
    width: 75%;
    float: left;
  }

  .modalheading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    display: inline-block;
    float: left;
    width: 90%;
  }

  .specificpara {
    clear: both;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .crossmodal {
    float: right;
    line-height: 52px;
    width: 40px;
    height: 35px;
  }

  .techlistmodal {
    list-style-type: none;
    width: 100%;
    margin-left: 100px;
  }

  .techlistmodal li {
    display: block;
    float: left;
    padding: 10px 2px;
    margin-right: 5px;
  }

  .htcjmodal {
    background: #ebebff;
    border-radius: 8px;
    display: inline-block;
    padding: 5px 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .techlistmodal2 {
    list-style-type: none;
    margin-left: 80px;
  }

  .techlistmodal2 li {
    display: block;
    float: left;
    padding: 10px 2px;
    margin-right: 5px;
  }

  .htcjmodal2 {
    background: #ebebff;
    border-radius: 8px;
    display: inline-block;
    padding: 5px 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
  }

  .seeliveicon1 {
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }

  .gitbuttonicon1 {
    width: 15px;
    height: 15px;
    margin-left: 3px;
  }

  .headline {
    display: flex;
    flex-wrap: wrap;
    background-image: url('desktopbackground1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    border-bottom-left-radius: 50px;
    padding: 30px;
    width: 100%;
    height: 779px;
  }

  .textdiv {
    position: relative;
    left: 170px;
    top: 180px;
    width: 70%;
    height: 128px;
  }

  .leftli {
    display: none;
  }

  .link-desktop {
    display: inline-block;
  }

  .textdiv h1 {
    font-size: 48px !important;
    line-height: 60px;
  }

  .textdiv p {
    font-size: 20px !important;
    line-height: 28px;
  }

  .container {
    display: none !important;
  }

  .containerdesktop {
    display: flex !important;
    flex-direction: row;
  }

  .tonicdesktop {
    flex: 50%;
    max-width: 45%;
  }

  .imgdivdesktop {
    flex: 50%;
    max-width: 45%;
  }

  .popheaddesktop {
    font-weight: 700;
    font-size: 40px !important;
    line-height: 52px;
    color: #091e42 !important;
  }

  .pop13desktop {
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 24px;
  }

  .pop15desktop {
    font-size: 16px !important;
  }

  .container2 {
    display: none !important;
  }

  .containerdesktop2 {
    display: flex !important;
    flex-direction: row;
    overflow: auto;
  }

  .multidesktop {
    flex: 50% !important;
    max-width: 45% !important;
  }

  .imgdivdesktop2 {
    flex: 50% !important;
    max-width: 40% !important;
  }

  .containerdesktop3 {
    display: flex !important;
    flex-direction: row;
  }

  .imgdivdesktop3 {
    flex: 50%;
    max-width: 45%;
  }

  .facedesktop {
    flex: 50%;
    max-width: 45%;
  }

  .containerdesktop4 {
    display: flex !important;
    flex-direction: row;
  }

  .imgdivdesktop4 {
    flex: 50%;
    max-width: 45%;
  }

  .uberdesktop {
    flex: 50%;
    max-width: 45%;
  }

  .uproject {
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: transform 4s;
  }

  .fproject {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 4s;
  }

  .mproject {
    width: 95%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: transform 4s;
  }

  .tproject {
    width: 95%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
    transition: transform 4s;
  }

  .tproject:hover,
  .mproject:hover,
  .fproject:hover,
  .uproject:hover {
    transform: scale(1.1, 1.1);
  }

  .container5 {
    display: grid;
    background-image: url('aboutmyself.png') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-template-columns: 50% 50% !important;
    border-top-right-radius: 50px !important;
    height: 569px;
  }

  .about {
    margin-right: 0;
    margin-top: 20px;
    width: 75%;
    height: auto;
    position: relative;
    left: 20px;
  }

  .lastsection {
    margin-left: 0;
    margin-top: 20px;
    width: 90%;
    height: auto;
  }

  .lastsection .javascript1 {
    float: left;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 25px !important;
  }

  .lastsection .lidesktop {
    clear: left;
    margin-top: 30px;
  }

  .aboutp {
    color: #344563 !important;
  }

  .contact {
    background-image: url('contactshapes2.png'), url('contactbg2.png') !important;
    background-size: cover;
    background-position: 0 0 !important;
    background-repeat: no-repeat;
    width: 100% !important;
    height: auto;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-div {
    align-self: center;
    width: 480px;
  }

  .text-div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .text-div p {
    position: relative;
    right: 55px;
  }

  .design {
    border-radius: 8px;
    width: 447px !important;
    height: 48px;
    margin-bottom: 20px;
  }

  textarea {
    border-radius: 8px;
    width: 447px !important;
    height: 170px;
    margin-bottom: 20px;
  }

  .submit {
    position: relative;
    top: 35px;
    right: 285px;
  }
}

.iconlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.iconlist li {
  display: block;
  float: left;
  padding: 0 5px;
}

.icons {
  margin-right: 10px;
  width: 17.99px;
  height: 20px;
}

.textdiv h1 {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.textdiv p {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Texts headings and Paragraphs Font Poppins Fonts Styling */
.popheading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.popp13 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.popp15 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.pcol,
.textdiv .pcol {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.abouth {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.aboutp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.abouts {
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
}

.abouts:hover {
  background: #6070ff;
  color: #fff;
}

.abouts:active {
  background: #2230d2;
  color: #fff;
}

.popupbackgroundmobile {
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #396df277;
  backdrop-filter: blur(5px);
}

#demo-mobile {
  width: 93%;
  height: 713px;
  display: none;
  position: absolute;
  top: 1%;
  z-index: 20;
  background-color: #fff;
  overflow: scroll;
  padding: 10px 20px;
  margin-left: 13px;
  margin-top: 20px;
  transition: width 4s;
}

#demo-mobile:hover {
  width: 94%;
}

.modalheading2 {
  float: left;
  position: relative;
  width: 80%;
  top: -20px;
}

.crossmobile {
  float: right;
}

.mobilep {
  clear: both;
}

.paddingt {
  margin-top: 10px;
  margin-right: 10px;
}

.seeliveicon2 {
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.gitbuttonicon2 {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.imgdiv {
  flex: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.tonic {
  flex: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.techlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techlist li {
  display: block;
  float: left;
  padding: 0 2px;
  margin-right: 5px;
}

.htcj {
  background: #ebebff;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.containerdesktop {
  display: none;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}

.tonicdesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}

.btn,
.btn3,
.btn2,
.btn4 {
  margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 12px;
}

.btn a,
.btn3 a,
.btn2 a,
.btn4 a {
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.btn:hover,
.btn3:hover,
.btn2:hover,
.btn4:hover {
  background: #6070ff;
  color: white;
}

.mobile-menu {
  min-height: 718px;
  width: 100vw;
  display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #0e23dda9;
  backdrop-filter: blur(5px);
  transition: 0.6s;
}

.mobile-menu ul {
  list-style-type: none;
  margin: 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#cross {
  margin: 3% 3%;
}

.mobile-menu ul li {
  padding: 10% 5%;
}

.mobile-menu li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.btn a:hover,
.btn2 a:hover,
.btn3 a:hover,
.btn4 a:hover {
  background: #6070ff;
  color: #fff;
}

.btn:active,
.btn3:active,
.btn2:active,
.btn4:active {
  background: #2230d2;
  color: white;
}

.btn a:active,
.btn2 a:active,
.btn3 a:active,
.btn4 a:active {
  background: #2230d2;
  color: #fff;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #dfe1e6;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.multi {
  flex: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdiv2 {
  flex: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.htcj2 {
  background: #ebebff;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.containerdesktop2 {
  display: none;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}

.multidesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop2 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}

.containerdesktop3 {
  display: none;
  border: 2px solid #a7aeff;
  border-radius: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}

.facedesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop3 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}

.containerdesktop4 {
  display: none;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}

.uberdesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop4 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}

.container5 {
  display: grid;
  grid-template-columns: auto;
  background-image: url('baseabout.png');
  border-top-right-radius: 50px;
  padding: 40px;
  margin-top: 100px;
}

.lastsection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  overflow: auto;
}

.lastsection .javascript1 {
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
}

.lastdiv {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.dot {
  width: 9px;
  height: 9px;
  margin: 0 6px;
}

.col {
  color: #7a869a;
}

.greater {
  float: right;
  color: grey;
  font-size: 28px;
}

.projects {
  width: 295px;
  height: 220px;
  transition: transform 4s;
}

.projects:hover {
  transform: scale(1.1, 1.1);
}

.imageabout {
  width: 50px;
  height: 50px;
}

.contact {
  background-image: url('contactshapes.png'), url('contactbg.png');
  background-position: 153px 18px, 0 0;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 779px;
}

.text-div {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.text-div h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.text-div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.design {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  width: 327px;
  height: 170px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.submit {
  margin: 0;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
}

.submit:hover {
  background: #2230d2;
  color: #fff;
}

.popuppara .test {
  display: none;
  font-size: 16px;
  padding: 2px 10px;
  width: 30vw;
  position: relative;
  text-align: center;
  font-weight: bold;
  top: 30px;
  left: 20px;
  height: 30px;
  background-color: #253858;
  border-radius: 10px;
  border: 2px solid transparent;
  overflow: hidden;
}
