@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

.imageone {
  width: 20px;
  height: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

nav li {
  float: left;
}

.leftli {
  float: right;
  margin-left: 40px;
}

nav li a {
  text-decoration: none;
  color: blue;
  display: inline-block;
  text-align: center;
}

nav li a.logolink {
  position: relative;
  top: 4px;
  left: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

nav li a img {
  position: relative;
  top: 4px;
  right: 20px;
}
.link-desktop {
  float: right;
  padding: 0 10px;
  display: none;
  position: relative;
  top: 4px;
  right: 120px;
}
.link-desktop a {
  color: #344563;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.headline {
  background-image: url('image.png');
  border-bottom-left-radius: 50px;
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: white;
}
@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }
  .headline {
    display: flex;
    flex-wrap: wrap;
    background-image: url('desktopbackground1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 50px;
    padding: 30px;
    width: 100%;
    height: 779px;
  }
  .textdiv {
    position: relative;
    left: 140px;
    top: 180px;;
    width: 720px;
    height: 98px;
  }
  .leftli {
    display: none;
  }
  .link-desktop {
    display: inline-block;
  }
  .container {
    display: none !important;
  }
  .containerdesktop {
    display: flex !important;
    flex-direction: row;
  }
  .tonicdesktop {
    flex: 50%;
    max-width: 45%;
  }
  .imgdivdesktop {
    flex: 50%;
    max-width: 45%;
  }
  .container2 {
    display: none !important;
  }
  .containerdesktop2 {
    display: flex !important;
    flex-direction: row;
  }
  .multidesktop {
    flex: 50%;
    max-width: 45%;
  }
  .imgdivdesktop2 {
    flex: 50%;
    max-width: 40%;
  }
  .containerdesktop3 {
    display: flex !important;
    flex-direction: row;
  }
  .imgdivdesktop3 {
    flex: 50%;
    max-width: 45%;
  }
  .facedesktop {
    flex: 50%;
    max-width: 45%;
  }
  .containerdesktop4 {
    display: flex !important;
    flex-direction: row;
  }
  .imgdivdesktop4 {
    flex: 50%;
    max-width: 45%;
  }
  .uberdesktop {
    flex: 50%;
    max-width: 45%;
  }
  .uproject {
    width: 500px;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
  }
  .fproject {
    width: 500px;
    height: 320px;
    margin-bottom: 20px;
  }
  .mproject {
    width: 500px;
    height: 320px;
    margin-left: 100px;
    
  }
  .tproject {
    width: 500px;
    height: 320px;
    margin-bottom: 20px;
  }
  .container5 {
    display: grid;
    background-image: url('aboutmyself.png') !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-template-columns: 50% 50% !important;
    border-top-right-radius: 50px !important;
    height: 469px;
  }
  .about {
    margin-right: 0;
    width: 500px;
    position: relative;
    left: 60px;
  }
  .lastsection {
    margin-left: 0;
    width: 600px;
  }
  .lastsection .javascript1 {
    float: left;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 25px !important;
  }
  
  .lastsection .lidesktop {
    clear: left;
    margin-top: 30px;
  }
  .aboutp {
    color: #344563 !important;
  }
  .contact {
    background-image: url('contactshapes2.png'), url('contactbg2.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100% !important;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-div {
    align-self: center;
    width: 480px;
  }
  .text-div h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
     
  }
  .text-div p {
   position: relative;
   right: 55px;
  }
  
  .design {
    border-radius: 8px;
    width: 447px !important;
    height: 48px;
    margin-bottom: 20px;
  }
  textarea {
    border-radius: 8px;
    width: 447px !important;
    height: 170px;
    margin-bottom: 20px;
  }
  
  .submit {
    position: relative;
    top: 35px;
    right: 285px;
  }
}
.iconlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.iconlist li {
  display: block;
  float: left;
  padding: 0 5px;
}

.icons {
  margin-right: 10px;
  width: 17.99px;
  height: 20px;
}

.textdiv h1 {
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.textdiv p {
  font-family: 'Poppins', sans-serif;
  color: #344563;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/* Texts headings and Paragraphs Font Poppins Fonts Styling */
.popheading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.popp13 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.popp15 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.pcol,
.textdiv .pcol {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.abouth {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.aboutp {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.abouts {
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
}

.abouts:hover {
  background: #6070ff;
  color: #fff;
}

.abouts:active {
  background: #2230d2;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.imgdiv {
  flex: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.tonic {
  flex: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.techlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.techlist li {
  display: block;
  float: left;
  padding: 0 2px;
  margin-right: 5px;
}

.htcj {
  background: #ebebff;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}
.containerdesktop {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}
.tonicdesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
} 


.btn,
.btn3,
.btn2,
.btn4 {
  margin-top: 10px;
  border: 1px solid #396df2;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 12px;
}

.btn a,
.btn3 a,
.btn2 a,
.btn4 a {
  text-decoration: none;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.btn:hover,
.btn3:hover,
.btn2:hover,
.btn4:hover {
  background: #6070ff;
  color: white;
}

.btn a:hover,
.btn2 a:hover,
.btn3 a:hover,
.btn4 a:hover {
  background: #6070ff;
  color: #fff;
}

.btn:active,
.btn3:active,
.btn2:active,
.btn4:active {
  background: #2230d2;
  color: white;
}

.btn a:active,
.btn2 a:active,
.btn3 a:active,
.btn4 a:active {
  background: #2230d2;
  color: #fff;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

.multi {
  flex: 100%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdiv2 {
  flex: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.htcj2 {
  background: #ebebff;
  border-radius: 8px;
  display: inline-block;
  padding: 5px 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}
.containerdesktop2 {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}
.multidesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop2 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}
.containerdesktop3 {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}
.facedesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop3 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}
.containerdesktop4 {
  display: none;
  border: 1px solid gray;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: white;
}
.uberdesktop {
  flex: 40%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.imgdivdesktop4 {
  flex: 40%;
  margin-left: 40px;
  margin-top: 20px;
}
.container5 {
  display: grid;
  grid-template-columns: auto;
  background-image: url('baseabout.png');
  border-top-right-radius: 50px;
  padding: 40px;
  margin-top: 25px;
}

.lastsection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  overflow: auto;
}

.lastsection .javascript1 {
  background-color: #f7f7f9;
  border: 1px solid #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
}

.lastdiv {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.dot {
  width: 9px;
  height: 9px;
  margin: 0 6px;
}

.col {
  color: #7a869a;
}

.greater {
  float: right;
  color: grey;
  font-size: 28px;
}

.projects {
  width: 295px;
  height: 220px;
}

.imageabout {
  width: 50px;
  height: 50px;
}

.contact {
  background-image: url('contactshapes.png'), url('contactbg.png');
  background-position: 153px 18px, 0 0;
  background-repeat: no-repeat;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 779px;
}

.text-div {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

.text-div h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.text-div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.design {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  width: 327px;
  height: 170px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 20px;
}

.submit {
  margin: 0;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid #396df2;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 12px;
}

.submit:hover {
  background: #2230d2;
  color: #fff;
}
